body {
	margin: 5.75vh 7.5vw;
	padding: .25vh .5vw;
	font-family: 'Palatino Linotype', 'Georgia', Times;
	font-size: 12.5pt;
}

h1,h2,h3, h4, a {
	font-family: Verdana;
}

a {
	color: #208dee;
	font-size: .85em;
}

header {
	padding-bottom: 1.5vh;
}

header nav {
	display: inline;
	padding: 8px 8px 10px 10px;
	background-color: hsla(90, 4%, 72%, .1);
}
header nav a {
	padding-right: .6vw;
	box-sizing: border-box;
}
span {
	font-size: 1.05em;
	color: hsla(90, 4%, 45%, 1.0);
}
hr {
	margin-top: 5%;
	max-width: 70%;
}

article {
	margin-left: 1.2vw;
}

figure img {
	max-height:20%;
}
footer nav img {
	max-height: 50px;
	box-sizing: border-box;
	margin: .7vw;
}